Source: node-pngjs
Section: javascript
Priority: optional
Maintainer: s0600204 <dev@s0600204>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-nodejs,
 node-browserify,
 nodejs
Standards-Version: 4.6.2
Homepage: https://github.com/pngjs/pngjs

Package: node-pngjs
Architecture: all
Depends:
 ${misc:Depends}
Description: PNG encoder/decoder in pure JS
